<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Назначение лечения</title>
</head>
<style>

    body {
        background-color: #f4f4f4;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .first-column {
        position: fixed;
        float: left;
        width: 13%;
        background-color: #6fc9fd;
        height: 100vh;
    }

    .nav-list {
        list-style: none;
        text-decoration: none;
    }

    .nav-list-element {
        text-decoration: none;
        color: white;
        font-size: 18px;
        border-radius: 7px;
        background-color: #6fc9fd;
        border: none;
    }

    .logout-list-button {
        position: relative;
        font-size: 16px;
        right: 6px;
    }

    .nav-list-element:hover {
        font-size: 19px;
        text-decoration: underline white;
    }

    .second-column {
        position: relative;
        left: 13%;
        float: left;
        width: 55%;
        margin-left: 50px;
    }

    .onCenter {
        width: max-content;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .appointment {
        text-align: center;
        display: table;
    }

    .appointment-row {
        display: table-row;
    }

    .appointment-cell1, .appointment-cell2,
    .appointment-cell3, .appointment-cell4{
        vertical-align: middle;
        border: 1px solid #000;
        padding: 6px  0 6px 0;
        display: table-cell;
    }

    .appointment-cell1 {
        width: 80px;

    }

    .appointment-cell2 {
        width: 270px;
    }

    .appointment-cell3 {
        width: 250px;
    }

    .appointment-cell4 {
        width: 150px;
    }

    .button {
        height: 30px;
        background-color: #6fc9fd;
        border-color: #6fc9fd;
        border-radius: 5px;
        color: white;
    }

    .input,.big-input {
        height: 30px;
        background-color: #d6f0ff;
        border-radius: 5px;
    }

    .input {
        text-align: center;
    }

    .big-input {
        height: 100px;
        border-color: black;
    }

    .main-font {
        font-size: 18px;
    }

    .date {
        color: black;
        font-family: Arial, sans-serif;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 5px;
        background-color: #d6f0ff;
    }

    .date:hover {
        color: #ffffff;
        background-color: #6fc9fd;
    }

    .hill-block {
        float: left;
    }

    .meds-block {
        float: left;
        margin-left: 50px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        border-radius: 10px;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
        text-align: center;
    }

    .accordion {
        height: 30px;
        background-color: #6fc9fd;
        border-color: #6fc9fd;
        border-radius: 5px;
        color: white;
        width: 300px;
        text-align: left;
        cursor: pointer;
        padding: 5px 10px 5px 30px;
        font-size: 16px;
        transition: background-color 0.3s;
        position: relative;
    }

    .accordion::before {
        content: '\25BC';
        position: absolute;
        left: 5px;
    }

    .panel {
        border: 1px rgb(150,150,150) solid;
        border-radius: 5px;
        display: none;
        background-color: white;
        padding: 10px;
        width: 280px;
    }

</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        configureNewAppointmentBlock();
    });
</script>
<body>
<div id="hidden-fields" hidden="hidden">
    <input type="text" id="appointmentId" th:value="${appointment.getId()}">
</div>

<div class="first-column">
    <ul class="nav-list">
        <li><a th:href="@{/doctor}" class="nav-list-element">Личный кабинет</a></li>
        <li><a th:href="@{/doctor/prescriptions}" class="nav-list-element">Мои назначения</a></li>
        <li>
            <form action="/doctor/logout" method="post">
                <input type="submit" value="Выход" class="nav-list-element logout-list-button">
            </form>
        </li>
    </ul>
</div>
<div  class="second-column">
    <h2 class="onCenter">Назначение лечения</h2>
    <div class="appointment onCenter">
        <div class="appointment-row">
            <div class="appointment-cell1">время</div>
            <div class="appointment-cell2">ФИО больного</div>
            <div class="appointment-cell3">жалобы</div>
            <div class="appointment-cell4">документы</div>
        </div>
        <div class="appointment-row">
            <div class="appointment-cell1" th:text="${appointment.getFormatedTime()}"></div>
            <div class="appointment-cell2" ><a th:href="@{/doctor/sick/{sickId}
            (sickId=${appointment.getSick().getId()})}" th:text="${appointment.getSick().getSurname() + ' ' +
        appointment.getSick().getFirstName() + ' ' +
        appointment.getSick().getLastName()}"></a></div>
            <div class="appointment-cell3" th:text="${appointment.getComplaints()}"></div>
            <div class="appointment-cell4">
                <div th:each="document, iterStat : ${appointment.getAttachedDocumentsList()}">
                    <a th:id="fileId + ${document.getId()}"
                            th:href="@{/doctorRest/downloadFile(fileId=${document.getId()})}"
                       th:text="${document.getName()}"></a>
                    <span th:if="${!iterStat.last}">,  </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        const links = document.querySelectorAll('a[id^="fileId"]');
        links.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const id = this.id;
                const fileIdValue = id.replace('fileId', '');
                var downloadFileXHR = new XMLHttpRequest();
                downloadFileXHR.open("GET", "/doctorRest/downloadFile?fileId=" + fileIdValue, true);
                downloadFileXHR.setRequestHeader("Authentication", getAuthenticationCookie());
                downloadFileXHR.responseType = "blob";
                downloadFileXHR.onload = function () {
                    if (downloadFileXHR.status === 200) {
                        const blob = downloadFileXHR.response;
                        const link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        const contentDispositionHeader = downloadFileXHR.getResponseHeader('Content-Disposition');
                        const filenameMatch = contentDispositionHeader.match(/filename="(.+)"/);
                        link.download = filenameMatch ? decodeURIComponent(filenameMatch[1]) : 'download';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    } else {
                        console.error('HTTP error! Status:', downloadFileXHR.status);
                    }
                };
                downloadFileXHR.send();
            });
        });
    </script>
    <br>
        <form th:action="@{/doctor/createPrescription}" method="post" id="createPrescriptionForm">
            <input type="checkbox" id="repeat-appointment" name="repeat-appointment" hidden="hidden">
            <div class="hill-block">
                <br>
                <input type="text" id="appointment-diagnosis" name="appointment-diagnosis" class="input onCenter" placeholder="Диагноз">
                <br>
                <br>
                <div class="main-font">Рекомендации:</div>
                <textarea cols="38" rows="5" id="appointment-recommendations" name="appointment-recommendations" class="big-input"></textarea>
                <br>
                <br>
                <br>
                <div th:if="${haveFreeDates}">
                    <button id="repeat-appointment-accordion" class="accordion" type="button">Назначить повторный прием</button>
                    <div class="panel">
                        <input type="text" hidden="hidden" th:value="${appointment.getId()}" name="appointmentId">
                        <label for="appointment-date" class="main-font">Назначить на:</label>
                        <input type="date" id="appointment-date" name="appointment-date" class="date"
                               th:min="${nearestFreeDate}" th:max="${maxDate}" th:value="${nearestFreeDate}" onchange="configureNewAppointmentBlock()">
                        <select id="appointment-time" name="appointment-time" class="input"></select>
                        <div id="description-block"></div>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
                <button type="button" class="button onCenter" onclick="configureConfirmModalToStandard()">Назначить лечение</button>
                <br>
                <br>
                <button type="button" class="button onCenter" onclick="configureConfirmModalToAjax()">Назначить лечение ajax</button>
            </div>
            <div class="meds-block">
                <br>
                <button type="button" onclick="addDiv()" class="button">Добавить лекарство</button>
                <br>
                <br>
                <div id="container"></div>
            </div>
        </form>

    <div id="confirm-modal" class="modal">
        <div class="modal-content">
            <h2>Подтверждение отправки</h2>
            <p id="modal-question"></p>
            <button onclick="sendData();" id="sendDataButton" class="button">Да</button>
            <button onclick="hideConfirmModal();" class="button">Нет</button>
        </div>
    </div>

    <div id="choise-modal" class="modal">
        <div class="modal-content">
            <h2>Приносим свои извенения</h2>
            <p>Кто-то уже записался на эти дату и время<br>Пожалуйста, выберите действие</p>
            <button onclick="goToMainPage();" class="button">Перейти на главную</button>
            <button onclick="updateNewAppointmentBlock();" class="button">Обновить и остаться</button>
        </div>
    </div>
    <script>

        function getAuthenticationCookie() {
            const allCookies = document.cookie;
            const cookiesArray = allCookies.split(';').map(cookie => cookie.trim().split('='));
            const cookiesObject = Object.fromEntries(cookiesArray);
            return cookiesObject['Authentication'];
        }

        function newAppointmentDateIsWeekend() {
            const datepicker = document.getElementById("appointment-date");
            const selectedDate = new Date(datepicker.value);
            const dayOfWeek = selectedDate.getDay();
            return dayOfWeek === 0 || dayOfWeek === 6;
        }


        var doctorWantsRepeatAppointment = false;
        var haveFreeTimeToRepeatAppointment = false;
        function repeatAppointment() {
            return doctorWantsRepeatAppointment && !newAppointmentDateIsWeekend() && haveFreeTimeToRepeatAppointment;
        }

        document.getElementById("repeat-appointment-accordion").addEventListener("click", function() {
            let panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                doctorWantsRepeatAppointment = false;
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
                doctorWantsRepeatAppointment = true;
                uploadFreeTimesList();
            }
        });

        function uploadFreeTimesList() {
            var selectTimeElement = document.getElementById("appointment-time");
            var appointmentDate = document.getElementById("appointment-date").value;
            var freeTimesListByDateXHR = new XMLHttpRequest();
            freeTimesListByDateXHR.open("GET", "/doctorRest/getFreeTimesListByDate?date=" + appointmentDate, true);
            freeTimesListByDateXHR.setRequestHeader("Authentication", getAuthenticationCookie());
            freeTimesListByDateXHR.onreadystatechange = function() {
                    if (freeTimesListByDateXHR.readyState === 4 && freeTimesListByDateXHR.status === 200) {
                        var timeSelector = document.getElementById('appointment-time');
                        var descriptionBlock = document.getElementById('description-block');
                        var freeTimesList = JSON.parse(freeTimesListByDateXHR.responseText);
                        if (freeTimesList.length === 0) {
                            haveFreeTimeToRepeatAppointment = false;
                            timeSelector.hidden = true;
                            descriptionBlock.innerHTML = 'к сожалению, нет свободного времени для переноса на эту дату';
                        }
                        else {
                            haveFreeTimeToRepeatAppointment = true;
                            while (selectTimeElement.options.length > 0) {
                                selectTimeElement.remove(0);
                            }
                            for (let i = 0; i < freeTimesList.length; i++) {
                                var optionElement = document.createElement("option");
                                optionElement.value = freeTimesList[i];
                                optionElement.text = freeTimesList[i];
                                selectTimeElement.add(optionElement);
                                if (!newAppointmentDateIsWeekend()) {
                                    timeSelector.hidden = false;
                                    descriptionBlock.innerHTML = '';
                                }
                            }
                        }
                    }
                };
            freeTimesListByDateXHR.send();
        }

        function configureNewAppointmentBlock() {
            var timeSelector = document.getElementById('appointment-time');
            var descriptionBlock = document.getElementById('description-block');
            if (newAppointmentDateIsWeekend()) {
                timeSelector.hidden = true;
                descriptionBlock.innerHTML = 'суббота и воскресенье - выходные дни';
            }
            else {
                uploadFreeTimesList();
            }
        }


        var medsCount = 0;
        function addDiv() {
            var container = document.getElementById("container");

            var div = document.createElement("div");
            div.style.marginBottom = "20px";
            div.id = "div" + medsCount;

            var input1 = document.createElement("input");
            input1.id = "medicament" + medsCount;
            input1.name = "medicament" + medsCount;
            input1.type = "text";
            input1.placeholder = "Название";
            input1.className = 'input';

            var input2 = document.createElement("input");
            input2.id = "application" + medsCount;
            input2.name = "application" + medsCount;
            input2.type = "text";
            input2.style.marginLeft = "30px";
            input2.placeholder = "Применение";
            input2.className = 'input';

            var removeButton = document.createElement("button");
            removeButton.textContent = "Удалить";
            removeButton.style.marginLeft = "20px"
            removeButton.className = 'button'
            removeButton.onclick = function() {
                removeMedDiv(div.id);
            }
            var br = document.createElement("br");
            div.appendChild(input1)
            div.appendChild(input2)
            div.appendChild(removeButton)
            div.appendChild(br);
            div.appendChild(br);
            container.appendChild(div)
            medsCount++;
        }

        function removeMedDiv(medDivId) {
            var container = document.getElementById("container");
            var div = document.getElementById(medDivId);
            container.removeChild(div);
            let idNum = medDivId.charAt(medDivId.length - 1);
            for (let i = idNum; i < medsCount - 1; i++) {
                var idPlus = parseInt(i) + 1;
                document.getElementById("div" + idPlus).id = "div" + i;
                document.getElementById("medicament" + idPlus).id = "medicament" + i;
                document.getElementById("application" + idPlus).id = "application" + i;
                document.getElementById("div" + i).name = "div" + i;
                document.getElementById("medicament" + i).name = "medicament" + i;
                document.getElementById("application" + i).name = "application" + i;
            }
            medsCount--;
        }
        function removeExtraMedicaments() {
            for (let i = 0; i < medsCount; i++) {
                if (document.getElementById("medicament" + i).value.trim() === '' ||
                    document.getElementById("application" + i).value.trim() === '') {
                    removeMedDiv("div" + i);
                    i--;
                }
            }
        }


        function configureConfirmModalToStandard() {
            if (document.getElementById('sendDataButton').onclick !== sendData) {
                document.getElementById('sendDataButton').onclick = sendData;
            }
            showConfirmModal();
        }
        function configureConfirmModalToAjax() {
            if (document.getElementById('sendDataButton').onclick !== sendDataAjax) {
                document.getElementById('sendDataButton').onclick = sendDataAjax;
            }
            showConfirmModal();
        }

        function showConfirmModal() {
            var repeatAppPart = '';
            if (repeatAppointment()) {
                repeatAppPart = ' с повторным приемом на ' + getFormattedDateAndTime()
            }
            document.getElementById("modal-question").textContent =
                'назначить лечение' + repeatAppPart +'?';
            document.getElementById("confirm-modal").style.display = "block";
        }
        function getFormattedDateAndTime() {
            var date = new Date(document.getElementById("appointment-date").value);
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            if (day < 10) {
                day = '0' + day;
            }
            if (month < 10) {
                month = '0' + month;
            }
            return day + '-' + month + '-' + year + ' ' +
                document.getElementById("appointment-time").value;
        }

        function hideConfirmModal() {
            document.getElementById("confirm-modal").style.display = "none";
        }

        function updateNewAppointmentBlock() {
            configureNewAppointmentBlock();
            document.getElementById("choise-modal").style.display = "none";
        }

        function goToMainPage() {
            location.href = "/doctor";
        }

        function sendData() {
                var xhr = new XMLHttpRequest();
                var params = "date=" + document.getElementById('appointment-date').value +
                    "&time=" + document.getElementById('appointment-time').value;
                xhr.open("GET", "/doctorRest/alreadyHaveAppointmentInDateAndTime?" + params, true);
            xhr.setRequestHeader("Authentication", getAuthenticationCookie());
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        if (xhr.responseText === 'true') {
                            document.getElementById('confirm-modal').style.display = 'none';
                            document.getElementById('choise-modal').style.display = 'block';
                        }
                        else {
                            sendForm();
                        }
                    }
                }
                xhr.send();
        }
        function sendForm() {
            removeExtraMedicaments();
            if (repeatAppointment()) {
                document.getElementById('repeat-appointment').checked = true;
            }
            document.getElementById('createPrescriptionForm').submit();
        }

        function sendDataAjax() {
                var xhr = new XMLHttpRequest();
                xhr.setRequestHeader("Authentication", getAuthenticationCookie());
                var params = "date=" + document.getElementById('appointment-date').value +
                    "&time=" + document.getElementById('appointment-time').value;

                xhr.open("GET", "/doctorRest/alreadyHaveAppointmentInDateAndTime?" + params, true);
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        if (xhr.responseText === 'true') {
                            document.getElementById('confirm-modal').style.display = 'none';
                            document.getElementById('choise-modal').style.display = 'block';
                        }
                        else {
                            sendJson()
                        }
                    }
                }
                xhr.send();

        }

        function sendJson() {
            removeExtraMedicaments();

            let appointmentId = document.getElementById('appointmentId').value;
            var prescriptionJson = {
                "appointmentId" : appointmentId
            };
            var diagnosisInput = document.getElementById('appointment-diagnosis');
            if (diagnosisInput.value !== '') {
                prescriptionJson["diagnosis"] = diagnosisInput.value;
            }
            var recommendationsInput = document.getElementById('appointment-recommendations');
            if (recommendationsInput.value !== '') {
                prescriptionJson["recommendations"] = recommendationsInput.value
            }
            if (repeatAppointment()) {
                prescriptionJson["dateOfNextApp"] = document.getElementById('appointment-date').value;
                prescriptionJson["timeOfNextApp"] = document.getElementById('appointment-time').value;
            }
            let medCounter = 0;
            var medicamentList = [];
            while (true) {
                var medinput = document.getElementById('medicament' + medCounter);
                if (medinput !== null) {
                    var med = medinput.value;
                    var app = document.getElementById('application' + medCounter).value;
                    medicamentList.push({"medicament" : med, "application" : app});
                    medCounter++;
                }
                else {
                    break;
                }
            }
            if (medicamentList.length !== 0) {
                prescriptionJson["medicamentList"] = medicamentList
            }
            var createPrescriptionXHR = new XMLHttpRequest();
            createPrescriptionXHR.open("POST", "/doctorRest/createPrescription", true);
            createPrescriptionXHR.setRequestHeader("Content-type", "application/json")
            createPrescriptionXHR.setRequestHeader("Authentication", getAuthenticationCookie());
            createPrescriptionXHR.onreadystatechange = () => {
                if (createPrescriptionXHR.readyState === 4 && createPrescriptionXHR.status === 200) {
                    location.href = '/doctor';
                }
            }
            createPrescriptionXHR.send(JSON.stringify(prescriptionJson));
        }
    </script>
</div>
</body>
</html>